<!DOCTYPE html>
<html lang="en" ng-app="stagesource">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Stage Source</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link href="../css/main.css" rel="stylesheet">

  </head>
  <body>
    <div ng-controller="StageSourceController as stageSource">
        <div class="form-group">
            <input class="form-control artist-input" placeholder="Search Artist" ng-model="artist"/>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="searchArtist()">Submit</button>
        {{artistId}}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/stagesource.js"></script>

    <script src="../node_modules/angular-spotify/src/angular-spotify.js"></script>
  </body>
</html>